/* 
	MOVE
	Author: Kat
	Date: 7-1-19
	filename: MOVEstyles.css
	
*/

html, body {
	margin: 0;
	padding: 0;	
}

.container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.main {
	position: relative;
	background-color: black;
}



.main video {
	width: 100%;
}

.main .content {
	position: absolute;
	top: 100px;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.main h1 {
	position: realtive;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 113px;
	color: black;
	text-shadow: 5px 5px 5px lightYellow;
	margin-left: -90px;
	margin-top: -90px;
	
}

.main h2 {
	display: inline;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 83px;
	color: black;
	text-shadow: 5px 5px 5px lightYellow;
}

.main h3 {
	position: realtive;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 30px;
	color: black;
	text-shadow: 3px 3px 3px lightYellow;
	margin-left: 190px;
	margin-top: -450px;
}



.btn {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	background-color: rgb(70, 99, 145, 0.7);
	padding: 20px;
	display: block;
	text-decoration: none;
	border-radius: 38px;
	width: 300px;
	box-shadow: 5px 5px 5px black;
	color: black;
	margin-top: 400px;
	margin-left: 255px;
	text-align: center;
	text-shadow: 2px 2px 2px lightYellow;
	
}

.images {
	display: block;
	float: left;
}

.images #move {
	width: 455px;
	height: 455px;
	margin-left: 65px;
	padding-top: 40px;
	padding-right: 10px;
	padding-bottom: 0px;
	
}

.images #rest {
	width: 455px;
	height: 455px;
	padding-top: 40px;
	padding-right: 10px;
	padding-bottom: 0px;
}

.images #recover {
	width: 455px;
	height: 455px;
	padding-top: 40px;
	padding-right: 10px;
	padding-bottom: 0px;
}

.images h2 {
	font-family: 'Allerta Stencil', sans-serif;
	text-align: center;
	font-size: 50px;
	margin-top: -70px;
	position: relative;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.concrete video {
	width: 100%;
	height: 550px;
	background-color: black;
}

.concrete h2 {
	position: absolute;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 50px;
	color: white;
	text-shadow: 5px 5px 5px black;
	margin-left: 350px;
	margin-top: -330px;
}

.concrete .btntwo {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	background-color: rgb(70, 99, 145, 0.7);
	padding: 20px;
	display: block;
	text-decoration: none;
	border-radius: 38px;
	width: 300px;
	box-shadow: 5px 5px 5px black;
	color: black;
	margin-top: -250px;
	margin-left: 575px;
	text-align: center;
	text-shadow: 2px 2px 2px lightYellow;
}


footer {
	background-color: black;
	padding: 30px;
	text-align: center;
	font-size: 30px;
	color: white;
}













































